version: "3.8"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: pdoc
      POSTGRES_PASSWORD: pdocpass
      POSTGRES_DB: pdoc_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build: .
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+psycopg2://pdoc:pdocpass@postgres:5432/pdoc_db
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
      JWT_SECRET: "troque-por-uma-chave-segura"
    depends_on:
      - postgres
      - redis

  worker:
    build: .
    command: celery -A app.workers.celery_app.celery_app worker --loglevel=info
    environment:
      DATABASE_URL: postgresql+psycopg2://pdoc:pdocpass@postgres:5432/pdoc_db
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    volumes:
      - ./:/app
    depends_on:
      - postgres
      - redis

volumes:
  pgdata:
